<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="../../css/normalize.css">
    <title>stitches</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="../../js/Dfolder/jquery-3.1.1.min.js"></script>
    <script src="../../js/Dfolder/jquery_program.js"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/animation.css">
    <!--CLEditor-->
    <link rel="stylesheet" href="../../css/jquery.cleditor.css">
    <script src="../../js/Dfolder/jquery.cleditor.min.js"></script>
    <script src="../../js/Dfolder/jquery.cleditor.table.min.js"></script>
    <script>
        $(document).ready(function() {

            //ツールバー日本語化
            $.cleditor.buttons.source.title = 'ソース表示';
            $.cleditor.buttons.bold.title = '太字';
            $.cleditor.buttons.italic.title = '斜体';
            $.cleditor.buttons.underline.title = '下線';
            $.cleditor.buttons.size.title = 'フォントサイズ';
            $.cleditor.buttons.color.title = 'フォント色';
            $.cleditor.buttons.rule.title = '水平線(hrタグ)';
            $.cleditor.buttons.image.title = '画像urlの挿入(imgタグ)';
            $.cleditor.buttons.highlight.title = 'ハイライト';
            $.cleditor.buttons.removeformat.title = '書式の削除';
            $.cleditor.buttons.source.title = 'ソースの確認';
            $.cleditor.buttons.link.title = 'リンク(aタグ)';
            $.cleditor.buttons.unlink.title = 'リンク削除(aタグ)';
            $.cleditor.buttons.table.title = 'テーブル挿入(tableタグ)';

            //テーブルの画像PATH修正
            $.cleditor.buttons.table.image = "../../img/table.gif";
            //テーブルのボタン押した時の表示日本語化
            $.cleditor.buttons.table.popupContent = "" +
                '横:<input type="text" value="7" maxlength="1" style="width:20px">' +
                '縦:<input type="text" value="3" maxlength="1" style="width:20px">' +
                '<br /><input type="button" value="決定">',

                $("#input").cleditor({
                    width: 527, //入力枠の横幅
                    height: 350, //入力枠の縦幅
                    sizes: "4,5,6,7", //文字サイズ。4が標準、なのか
                    // 文字色を<span style="">で指定するのではなく、<font color="">で指定
                    useCSS: false,
                    // ツールバーで使いたい機能一覧を指定
                    controls: "source | bold italic underline | " +
                        "size color highlight removeformat " +
                        "alignleft center alignright | " +
                        "undo redo | rule image link unlink | table",
                    bodyStyle: "" //文字サイズが小さかったので初期化
                });
        });
    </script>
</head>

<body>
    <!-- <script src="http://code.jquery.com/jquery.js"></script> -->
    <script src="../../js/Dfolder/bootstrap.min.js"></script>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".target">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="">stitches</a>
            </div>
            <div class="collapse navbar-collapse target">
                <ul class="nav navbar-nav">
                    <li><a href="#">トップ</a></li>
                    <li><a href="#">マイページ</a></li>
                    <li class="active"><a href="#">質問広場</a></li>
                    <li><a href="#">勉強会</a></li>
                    <li><a href="#">問い合わせ</a></li>
                </ul>
                <p class="navbar-text navbar-right nav-padding">ようこそ <a href="#" class="navbar-link">ゲスト</a> さん</p>
            </div>
        </nav>
    </header>
    <section>
        <!--ここからコンテンツ-->
    <form action="/question_board_confirm" method="post">
        <img class="qna_header_img shadow" width="1280px" height="250px" src="../../img/qna_header.jpg" alt="質問投稿" />
        <div class="top_space_nav"></div>

        <div class="col-sm-2">
            <div class="balloon-2-right">
                <div Align="center">
                    <h4>タイトルには要件を書こう</h4><br></div>
                「PHPについて」や「比較演算子」などのように、短すぎて質問内容が読み取れないタイトルは無視されて あなたの質問ページを見てもらえる可能性が低くなってしまいます。
                <br> 例えば、「○○で△△というエラー」「○○が実行できない」「△△と○○の違い」などのように要件を書くことにより目に留まる確率は上がります。
            </div>
        </div>

        <div class="col-sm-offset-1 col-sm-5">
            <br><label for="title">タイトル</label><br>
            <input id="question_title" class="form-control" placeholder="解決したいことを書いてください"></div>



        <div class="col-sm-offset-1 col-sm-8">
            <br><label for="input"> カテゴリ</label><br>
            <table class="table_width">
                <tr>
                    <td><input type="checkbox" name="q1" value="Javascript"> JavaScript</td>
                    <td><input type="checkbox" name="q1" value="Ruby"> Ruby</td>
                    <td><input type="checkbox" name="q1" value="Python"> Python</td>
                    <td><input type="checkbox" name="q1" value="PHP"> PHP
                        <td>
                </tr>
                <br>

                <tr>
                    <td><input type="checkbox" name="q1" value="Java"> Java</td>
                    <td><input type="checkbox" name="q1" value="Swift"> Swift</td>
                    <td><input type="checkbox" name="q1" value="SQL"> SQL</td>
                    <td><input type="checkbox" name="q1" value="その他"> その他</td>
                </tr>
            </table>
        </div>
        <!--CLEditorテキストエリア-->
        <div class="col-sm-offset-1 col-sm-4">
            <br><label for="input">質問内容</label>
            <textarea id="input" name="input"></textarea>
        </div>
        <div class="col-sm-offset-1 col-sm-2"><br><br>
            <div class="balloon-2-left">
                <div Align="center">
                    <h4>見やすい詳細にしよう</h4><br></div>
                質問詳細の最初に実現したいことを書きましょう。<br>まずあなたが何をしたいのかを把握すれば、以降の項目をスムーズに読み進めることができます。<br> 発生している問題・エラーメッセージを書きましょう。
                <br>「○○というエラーが表示された」、「レイアウトがこのように崩れてしまった」 など実際に起きた結果を示しましょう。
                <br> 読みやすい詳細にすることでスムーズに解決しやすくなります。
            </div>
        </div>
        <div class="form-group submit">
            <div class="col-sm-offset-3 col-sm-5">
                <br><input type="submit" value="送信" class="btn btn-primary btn-block">
            </div>
        </div>
        <input id="token" type="hidden" name="_csrf" value="<%= reqCsrf %>">
        <!-- csrfToken -->
        <input id="Error_status" type="hidden" name="Error_status" value="<%= error %>">
    </form>
    </section>
    <div class="toTop"></div>
    <footer>
    </footer>
</body>

</html>
