<div class="grid">
  <div class="grid-cell-1">
    <form [formGroup]="cateSeachForm" class="grid-child">
      <mat-card class="mat-auto">
        <h2>キーワード検索</h2>
        <mat-form-field class="maintitle" color="accent">
          <input matInput placeholder="キーワードを入力してください" [formControl]="this.cateSeachForm.controls.keyword">
        </mat-form-field>
        <button mat-raised-button (click)="onSubmit_keyword()" color="warn">キーワード検索</button>
      </mat-card>
      <mat-card class="mat-auto">
        <h2>カテゴリー検索</h2>
        <mat-form-field color="accent">
          <mat-select placeholder="カテゴリー" [formControl]="this.cateSeachForm.controls.category">
            <mat-option *ngFor="let category of categories" [value]="category">
              {{category}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button (click)="onSubmit_cate()" color="warn">カテゴリ検索</button>
      </mat-card>
      <mat-card class="mat-auto">
        <h2>タグ検索</h2>
        <tag-input class="tag-search" [formControl]="this.cateSeachForm.controls.tag"></tag-input>
        <button mat-raised-button (click)="onSubmit_tag()" color="warn">タグ検索</button>
      </mat-card>
      <!-- <mat-card class="mat-auto">
        <mat-card-header>
          <div class="stars" *ngFor="let star of createstar(Popular.star);">
            <i class="material-icons">star</i>
          </div>
          <div mat-card-avatar [style.background-image]="'url(' + avatar + ')'" class="profile_card_image"></div>
          <mat-card-title>{{ Popular.name}}</mat-card-title>
          <mat-card-title>{{ toLocaleString(Popular.uday) }}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card_container">
          <h1>{{ Popular.title }}</h1>
          </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button routerLink="/contents/detail" [queryParams]="{ id: Popular._id }">続きを読む</a>
        </mat-card-actions>
      </mat-card> -->
    </form>
  </div>
  <div class="grid-cell-2">
    <div *ngFor="let item of items;">
      <mat-card class="card-item">
        <mat-card-header>
          <div class="stars" *ngFor="let star of createstar(item.star);">
            <i class="material-icons">star</i>
          </div>
          <div routerLink="/contents/mypage" [queryParams]='{ id: item.hostid }' mat-card-avatar [style.background-image]="'url(' + item.prop + ')'" class="profile_card_image"></div>
          <mat-card-title><a routerLink="/contents/mypage" [queryParams]='{ id: item.hostid }'>{{ item.name}}</a></mat-card-title>
          <mat-card-title>{{ toLocaleString(item.uday) }}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card_container">
          <h1>{{ item.title }}</h1>
          <!-- <div class="review_img">
            <img src="./assets/demoReview1.png" class="card_img">
          </div> -->
          <h2>薦めたい所</h2>
          <p>{{ item.improvement }}</p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button routerLink="/contents/detail" [queryParams]="{ id: item._id }">続きを読む</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
