<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
</head>
<body>
<h1>メールアドレスの変更完了</h1>
メールアドレスの変更が完了しました。<br>
ログイン画面からログインしてください。<br><br>

<a href="/login">ログイン画面に戻る</a>
</body>
</html>
