<!DOCTYPE html>
<html lang="ja">
<head>
   <meta charset="UTF-8">
   <script defer src="js/Kfolder/passwordchecker.js" type="text/javascript"></script>
   <script defer src="js/Kfolder/common.js" type="text/javascript"></script>
   <script type="text/javascript">
      /*
      * 登録前チェック
      */
      function confirmMessage() {
        var pass = document.getElementById("password").value;
        var conf = document.getElementById("confirm_password").value;

       //必須チェック
       if((pass == "") || (conf == "")) {
          alert("必須項目が入力されていません。");
          return false;
       }

        //パスワードチェック
        if (pass != conf) {
            alert("パスワードが一致していません。");
            return false;
        }

        if (passwordLevel < 3) {
          return confirm("パスワード強度が弱いですがよいですか？");
        }
        return true;
      }

   </script>
</head>
  <body>
  <h1>パスワード変更画面（リセット）</h1>

  <form action="/password_reset_submit" method="post" onsubmit="return confirmMessage();">
  <table border="0">
    <tr>
      <td><input type="password" name="password" id="password" placeholder="新しいパスワードを入力" onkeyup="setMessage(this.value);"></td>
      <td><div id="pass_message"></div></td>
    </tr>
    <tr>
      <td><input type="password" name="confirm_password" id="confirm_password" placeholder="再度新しいパスワードを入力" onkeyup="setConfirmMessage(this.value);"></td>
      <td><div id="pass_confirm_message"></div></td>
    </tr>
  </table>
  <input id="token" type="hidden" name="_csrf" value="<%= reqCsrf %>"><!-- csrfToken -->
  <input type="submit" value="更新">
  <input type="button" value="戻る" onclick="history.back();">
  </form>
  </body>
</html>
