<section class="top-group">
        <img src="./assets/main.jpg" alt="メイン画像" class="top-image">
        <h1 class="top-cap"><img src="./assets/title.svg" alt=""></h1>
</section>
<section class="desc">
    <div class="desc-inner">
        <div class="list-group">
            <div class="list-item">
                <img src="./assets/list_1.jpg" alt="">
                <div class="list-text">
                    <p>気になる物や事を、体験する前にある程度理解しておきたい人向けの場を設けたい</p>
                </div>
            </div>
        </div>
        <div class="list-group">
            <div class="list-item">
                <img src="./assets/list_2.jpg" alt="">
                <div class="list-text">
                    <p>気になる物や事を、体験する前にある程度理解しておきたい人向けの場を設けたい</p>
                </div>
            </div>
        </div>
        <div class="list-group">
            <div class="list-item">
                <img src="./assets/list_3.jpg" alt="">
                <div class="list-text">
                    <p>気になる物や事を、体験する前にある程度理解しておきたい人向けの場を設けたい</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="invite">
    <img class="logo-image" src="./assets/logo.svg" alt="">
    <div class="invite-text">
        <h2>Recommendは会員登録制のレビューサイトです。</h2>
        <p>会員登録するだけでプロフィールの作成、レビューの検索・投稿・評価など様々な機能をご利用頂けます。</p>
        <p>他のレビューサイトと違い、細かくレビューできるようテンプレートを用意しているので、満足のいくレビューが行えます。</p>
        <a routerLink="cert/register" class="invite-btn">Recommendに登録する</a>
    </div>
</section>
<footer>
    <p>Copyright (C) 2017- iou-kitty. All Rights Reserved.</p>
</footer>
<!-- <div class="modal" [class.on]="nav_flag"></div> -->